@model WebAppEs.ViewModel.FaultsEntry.MobileRNDFaultsEntryViewModel
@inject IJsonHelper Json;

@{ ViewData["Title"] = "Create"; }

<style>
    .select2-results {
        color: black;
    }
    #select2-ddlModel-container, #select2-ddlCategory-container, #select2-ddlSubCategory-container {
        color: black;
    }
    .form-control {
        border-radius: 0;
        box-shadow: none;
        border-color: #d2d6de
    }
    .select2-hidden-accessible {
        border: 0 !important;
        clip: rect(0 0 0 0) !important;
        height: 1px !important;
        margin: -1px !important;
        overflow: hidden !important;
        padding: 0 !important;
        position: absolute !important;
        width: 1px !important
    }
    .form-control {
        display: block;
        width: 100%;
        height: 38px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
    }
    .select2-container--default.select2-container--focus .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--single {
        border-color: #80bdff;
        height: 20px !important;
        width: 100% !important;
    }
    .select2-container--default .select2-selection--single {
        background-color: #fff;
        border: 1px solid #ced4da;
        border-radius: 4px;
        height: 20px !important;
        width: 100% !important;
    }
    
</style>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            @Html.Raw(@ViewBag.Alert)
        </div>
    </div>
</div>
<div class="x_panel shadow bg-white rounded">
    <div class="container">
        <div style="border-bottom: 2px solid #E6E9ED; margin-bottom: 0px; padding: 0px 0px 0px!important; " class="x_title">
            <h2 style="color:black">Fault's Entry</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a style=" color: purple; font-weight:bolder; display:none" class="blink_me"> <i style="color:darkorange; font-size:20px" class="fa fa-info-circle"></i> This Parameter's Data Already Exist Please Update to Add More..</a>
                </li>

                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>

            </ul>
            
            <div class="clearfix"></div>
        </div>
        <div style="margin-top:0px" class="x_content">
            <br />
            <form class="form-label-left input_mask">
                <div class="row">
                    <div style="padding: 10px; border-radius: 8px; background-color: #fff;" class="col-md-12">
                        <input asp-for="Id" id="txtHiddenID" type="hidden">
                        <div class="row">
                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                <label>Date</label>

                                @*<input asp-for="Date" class="form-control form-control-sm">
                                    <span asp-validation-for="Date" class="text-danger"></span>*@
                                @if (Model.ButtonText == "Update")
                                {
                                    <input id="txtDate" disabled asp-for="Date" class="form-control" /> }
                                else
                                {
                                    <input id="txtDate" asp-for="Date" class="form-control" />}
                                <span class="error">Please select date!</span>
                            </div>
                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                <label>Line No.</label>
                                <select asp-for="LineNo" id="ddlLine" class="form-control">
                                    <option value="@Model.LineNo">--Select Line--</option>
                                    <option value="1">Line 1</option>
                                    <option value="2">Line 2</option>
                                    <option value="3">Line 3</option>
                                    <option value="4">Line 4</option>
                                    <option value="5">Line 5</option>
                                    <option value="6">Line 6</option>
                                    <option value="7">Line 7</option>
                                    <option value="8">Line 8</option>
                                    <option value="9">Line 9</option>
                                </select>
                                <span class="error">Please select Line!</span>
                            </div>
                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                <label>Model</label>
                                <select asp-for="PartsModelID" id="ddlModel" class="form-control">
                                    <option value="@Model.PartsModelID">--Select Model--</option>
                                    @foreach (var item in Model.PartsModelViewModel)
                                    {
                                        <option value="@item.ID">@item.Name</option>
                                    }
                                </select>
                                <span id="ddlmodelError" class="error">Please select model!</span>
                            </div>
                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                <label>Order</label>
                                <select asp-for="LotNo" id="ddlLot" class="form-control">
                                    <option value="@Model.LotNo">--Select Lot--</option>
                                    <option value="1st">1st</option>
                                    <option value="2nd">2nd</option>
                                    <option value="3rd">3rd</option>
                                    <option value="4th">4th</option>
                                    <option value="5th">5th</option>
                                    <option value="6th">6th</option>
                                    <option value="7th">7th</option>
                                    <option value="8th">8th</option>
                                    <option value="9th">9th</option>
                                    <option value="10th">10th</option>
                                </select>
                                <span class="error">Please select Lot!</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2 col-sm-2  form-group has-feedback">
                                <label>Shipment</label>
                                <select asp-for="Shipment" id="ddShipment" class="form-control">
                                    <option value="@Model.Shipment">--Select Shipment--</option>
                                    <option value="1st">1st</option>
                                    <option value="2nd">2nd</option>
                                    <option value="3rd">3rd</option>
                                    <option value="4th">4th</option>
                                    <option value="5th">5th</option>
                                    <option value="6th">6th</option>
                                    <option value="7th">7th</option>
                                    <option value="8th">8th</option>
                                    <option value="9th">9th</option>
                                    <option value="10th">10th</option>
                                </select>
                                <span class="error">Please select Shipment!</span>
                            </div>
                            <div class="col-md-3 col-sm-3  form-group has-feedback">
                                <label>Shift</label>
                                <select asp-for="Shift" id="ddShift" class="form-control">
                                    <option value="@Model.Shift">--Select Shift--</option>
                                    <option value="A">A</option>
                                    <option value="B">B</option>
                                    <option value="G">G</option>
                                </select>
                                <span class="error">Please select Shift!</span>
                            </div>
                            <div style="text-align: center;" class="col-md-2 col-sm-2  form-group has-feedback">
                                <label style=" text-align: center; font-weight: 900; color: #0c8120;">Issue Qty.</label>
                                <input style=" border-color: #0c8120; text-align: center;" onclick="selectAllText(this.id)" asp-for="TotalIssueQty" type="number" class="form-control" id="txtIssueQty" placeholder="Enter Qty.">
                            </div>
                            <div style="" class="col-md-3 col-sm-3  form-group has-feedback">
                                <label style="">Type Of Production</label>
                                <select asp-for="TypeOfProduction" id="ddTypeOfProduction" class="form-control">
                                    <option value="">--Select Production Type--</option>
                                    <option value="Trial Production">Trial Production</option>
                                    <option value="Mass Production">Mass Production</option>
                                    <option value="Repair">Repair</option>
                                </select>
                                <span class="error">Please select Type of Production!</span>
                            </div>
                            <div style="text-align: center;" class="col-md-2 col-sm-2  form-group has-feedback">
                                <label style=" text-align: center; font-weight: 900; color: #0c8120;">QC Pass</label>
                                <input style=" border-color: #0c8120; text-align: center;" onclick="selectAllText(this.id)" asp-for="QCPass" type="number" class="form-control" id="txtQCPass" placeholder="Enter Qty.">
                                <span class="error">Please enter valid Quantity!</span>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="x_panel shadow bg-white rounded">
    <div class="container">
        <!-- start form for validation -->
        <form id="demo-form">

            <div style="">
                <div class="row">
                    <div class="col-md-2">
                        <label style="font-size: 22px; font-weight: bolder; border-right: 3px solid #aeaaa5; padding-right: 14px;">Total Production <span class="badge badge-info">0</span></label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 22px; font-weight: bolder; border-right: 3px solid #aeaaa5; padding-right: 14px;">QC Pass <span class="badge badge-info">0</span></label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 22px; font-weight: bolder; border-right: 3px solid #aeaaa5; padding-right: 14px;">Minor Pass <span class="badge badge-info">0</span></label>
                    </div>
                    <div class="col-md-2">
                        <label style="font-size: 22px; font-weight: bolder; border-right: 3px solid #aeaaa5; padding-right: 14px;">Fault Frequency <span class="badge badge-info">0</span></label>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-3">
                        <label for="ddlCategory">Category* :</label>
                        <select required id="ddlCategory" class="form-control">
                            <option value="">--Select Category--</option>
                            @foreach (var item in Model.MRNDQC_CategoryVM)
                            {
                                <option value="@item.Id">@item.CategoryName</option>
                            }
                        </select>
                        <span class="error">Please select Category!</span>
                    </div>
                    <div class="col-md-2">
                        <label for="ddlFaultType">Fault Type* :</label>
                        <select id="ddlFaultType" class="form-control">
                            <option value="">--Select Fault Type--</option>
                            <option value="F">Functional</option>
                            <option value="A">Aesthetic</option>
                        </select>
                        <span class="error">Please select Fault Type!</span>
                    </div>
                    <div class="col-md-3">
                        <label for="ddlSubCategory">Sub Category* :</label>
                        <select id="ddlSubCategory" class="form-control">
                            <option value="">--Select Sub Category--</option>
                        </select>
                        <span class="error">Please select Sub Category</span>
                    </div>
                    <div style="text-align: center;" class="col-md-2 col-sm-2  form-group has-feedback">
                        <label style=" text-align: center; font-weight: 900; color: #0c8120;">Quantity</label>
                        <input style=" border-color: #0c8120; text-align: center;" onclick="selectAllText(this.id)" type="number" class="form-control" id="txtQTY" placeholder="Enter Qty.">
                        <span class="error">Enter valid quantity!</span>
                    </div>
                    <div class="col-md-2" style="text-align: center; margin-top: 15px;">
                        <input type="button" class="addbutton box-shadow" id="add" value="Add" />
                    </div>
                </div>
            </div>
            <div id="faultsItem">

            </div>
        </form>
    </div>
</div>
<div style="margin-top:10px">
    <div class="row">
        <div style="text-align:center" class="col-md-12">
            <button onclick="RedirectToPage()" class="btn btn-dark">Back To List</button>
            <button type="button" id="submit" class="btn btn-success">Submit</button>
        </div>
    </div>
</div>
<br />
<div style="height:200px">

</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
<link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css"
      rel="Stylesheet" type="text/css" />

@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            /*alert("");*/
            const today = (function () {
                const now = new Date();
                const month = (now.getMonth() + 1).toString().padStart(2, '0');
                const day = now.getDate().toString().padStart(2, '0');
                return `${month}-${day}-${now.getFullYear()}`;
            })();

            //$("#ddlPartsModel").change(function () {
            //    alert($("#ddlPartsModel").val());
            //});

            $('#ddlModel, #ddlCategory, #ddlSubCategory').select2({});

            $('.numberFunctional').keyup(function () {
                //alert("0")
                var val1 = $("#txtMaterialFaultFun").val(),
                    val2 = $("#txtProductionFaultFun").val(), val3 = $("#txtSoftwareFaultFun").val();
                $("#txtTotalFunctional").text(Number(val1) + Number(val2) + Number(val3));
            });
            $('.numberAesthetic').keyup(function () {
                //alert("0")
                var val1 = $("#txtMaterialFaultAes").val(),
                    val2 = $("#txtProductionFaultAes").val();
                $("#textTotalAesthetic").text(Number(val1) + Number(val2));
            });

            $('#ddlCategory').on("change", function () {
                $('#ddlFaultType').val("");
                $('#ddlSubCategory').html('');
                var options = '';
                options += '<option value="">--Select Sub Category--</option>';
                $('#ddlSubCategory').append(options);
            });

            $('#ddlFaultType').on("change", function () {
                var category = $('#ddlCategory').val();
                var faultType = $('#ddlFaultType').val();
                if (category != "") {
                    var obj = { "CategoryID": category, "FaultType": faultType};
                    AjaxCall('@Url.Action("GetSubCategoryByCategoryID", "SubCategory")', obj, 'POST').done(function (response) {
                        if (response.length > 0) {
                            console.log(response);

                            $('#ddlSubCategory').html('');
                            var options = '';
                            options += '<option value="">--Select Sub Category--</option>';
                            for (var i = 0; i < response.length; i++) {
                                options += '<option value="' + response[i].id + '">' + response[i].subCategoryName + '</option>';
                            }
                            $('#ddlSubCategory').append(options);

                        }
                        else {
                            $('#ddlSubCategory').html('');
                            var options = '';
                            options += '<option value="">--Select Sub Category--</option>';
                            $('#ddlSubCategory').append(options);
                        }
                    }).fail(function (error) {
                        alert(error.StatusText);
                    });
                }
                else {
                    alert("Select Category First");
                    $('#ddlFaultType').val("");
                }

            });
        });
        function selectAllText(senderId) {
            document.getElementById(senderId).focus();
            document.getElementById(senderId).select();
        }
        function AjaxCall(url, data, type) {
            return $.ajax({
                url: url,
                type: type,
                data: data,
                //contentType: 'application/json'
            });
        }
    </script>

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#txtFaultType").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("FaultsTypeAutoComplete", "AddFaultsInfo")',
                        data: { "prefix": request.term, "type": "FT"},
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },
                        //error: function (response) {
                        //    alert(response.responseText);
                        //},
                        //failure: function (response) {
                        //    alert(response.responseText);
                        //}
                    });
                },
                //select: function (e, i) {
                //    $("#hfFaultsType").val(i.item.val);
                //},
                minLength: 1
            });
            $("#txtRootCause").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("FaultsTypeAutoComplete", "AddFaultsInfo")',
                        data: { "prefix": request.term, "type": "RC" },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        }
                    });
                },
                minLength: 1
            });
            $("#txtSolution").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("FaultsTypeAutoComplete", "AddFaultsInfo")',
                        data: { "prefix": request.term, "type": "SO" },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        }
                    });
                },
                minLength: 1
            });
            $("#txtRemarks").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: '@Url.Action("FaultsTypeAutoComplete", "AddFaultsInfo")',
                        data: { "prefix": request.term, "type": "RE" },
                        type: "POST",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        }
                    });
                },
                minLength: 1
            });
        });
    </script>
    <script>
        //Date Picker
        $(function () {
            $('#orderDate').datepicker({
                dateFormat: 'mm-dd-yy'
            });
        });
        $(document).ready(function () {
            //blinkMessage();
            var faultsItem = [];
            var LoadDataForEidit = @Json.Serialize(Model.MobileRNDFaultDetailsViewModel);
            if (LoadDataForEidit != null) {
                if (LoadDataForEidit.length != 0) {
                    for (var h = 0; h < LoadDataForEidit.length; h++) {
                        faultsItem.push({
                            CategoryID: LoadDataForEidit[h].categoryID,
                            CategoryName: LoadDataForEidit[h].categoryName,
                            SubCategoryID: LoadDataForEidit[h].subCategoryID,
                            SubCategoryName: LoadDataForEidit[h].subCategoryName,
                            FaultType: LoadDataForEidit[h].faultType,
                            FaultTypeName: LoadDataForEidit[h].faultType,
                            FaultQty: LoadDataForEidit[h].faultQty,
                        });
                    }
                    GeneratedItemsTable();
                }
            }

            //Add button click function
            $('#add').click(function () {
                var isValidItem = true;
                if ($('#ddlCategory').val().trim() == '') {
                    isValidItem = false;
                    $('#ddlCategory').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    var CategoryID = $('#ddlCategory').val().trim();
                    var CategoryText = $("#ddlCategory option:selected").text();
                    $('#ddlCategory').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#ddlFaultType').val().trim() == '') {
                    isValidItem = false;
                    $('#ddlFaultType').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    var FaultType = $('#ddlFaultType').val().trim();
                    var FaulttypeName = $("#ddlFaultType option:selected").text();
                    $('#ddlFaultType').siblings('span.error').css('visibility', 'hidden');
                }
                if ($('#ddlSubCategory').val().trim() == '') {
                    isValidItem = false;
                    $('#ddlSubCategory').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    var SubCategoryID = $('#ddlSubCategory').val().trim();
                    var SubCategoryText = $("#ddlSubCategory option:selected").text();
                    $('#ddlSubCategory').siblings('span.error').css('visibility', 'hidden');
                }

                if (!($('#txtQTY').val().trim() != '' && !isNaN($('#txtQTY').val().trim()))) {
                    isValidItem = false;
                    $('#txtQTY').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#txtQTY').siblings('span.error').css('visibility', 'hidden');
                }
                if (isValidItem) {
                    var isExixtsSubCategory = checkIfObjectExist(faultsItem, SubCategoryText, SubCategoryID)
                    if (isExixtsSubCategory) {
                        alert("You already Enter this ( " + SubCategoryText +" ) sub category, Please Remove to update!");
                    }
                    else {
                        faultsItem.push({
                            CategoryID: CategoryID,
                            CategoryName: CategoryText,
                            SubCategoryID: SubCategoryID,
                            SubCategoryName: SubCategoryText,
                            FaultType: FaultType,
                            FaultTypeName: FaulttypeName,
                            FaultQty: parseInt($('#txtQTY').val().trim()),
                        });
                    }
                    $('#ddlSubCategory').val("").change().focus();
                    $('#txtQTY').val("");
                }
                GeneratedItemsTable();
            });
            //Save button click function
            $('#submit').click(function () {
                //validation of order
                var isAllValid = true;
                if (faultsItem.length == 0) {
                    $('#faultsItem').html('<span style="color:red;">Please add faults details!</span>');
                    isAllValid = false;
                }

                if ($('#txtDate').val().trim() == '') {
                    $('#txtDate').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#txtDate').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ddlLine').val().trim() == '') {
                    $('#ddlLine').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#ddlLine').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ddlModel').val().trim() == "00000000-0000-0000-0000-000000000000") {
                    $('#ddlmodelError').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#ddlmodelError').css('visibility', 'hidden');
                }

                if ($('#ddlLot').val().trim() == '') {
                    $('#ddlLot').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#ddlLot').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ddShipment').val().trim() == '') {
                    $('#ddShipment').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#ddShipment').siblings('span.error').css('visibility', 'hidden');
                }

                if ($('#ddShift').val().trim() == '') {
                    $('#ddShift').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#ddShift').siblings('span.error').css('visibility', 'hidden');
                }


                if (!($('#txtIssueQty').val().trim() != '' && !isNaN($('#txtIssueQty').val().trim()))) {
                    var issueQty = $('#txtIssueQty').val().trim();
                }
                else {
                    issueQty = 0;
                }

                if ($('#ddTypeOfProduction').val().trim() == '') {
                    $('#ddTypeOfProduction').siblings('span.error').css('visibility', 'visible');
                    isAllValid = false;
                }
                else {
                    $('#ddTypeOfProduction').siblings('span.error').css('visibility', 'hidden');
                }


                if (!($('#txtQCPass').val().trim() != '' && !isNaN($('#txtQCPass').val().trim()))) {
                    isValidItem = false;
                    $('#txtQCPass').siblings('span.error').css('visibility', 'visible');
                }
                else {
                    $('#txtQCPass').siblings('span.error').css('visibility', 'hidden');
                }

                //Save if valid
                if (isAllValid) {
                    var data = {
                        Date: $('#txtDate').val().trim(),
                        LineNo: $('#ddlLine').val().trim(),
                        PartsModelID: $('#ddlModel').val().trim(),
                        LotNo: $('#ddlLot').val().trim(),
                        Shipment: $('#ddShipment').val().trim(),
                        Shift: $('#ddShift').val().trim(),
                        TotalIssueQty: Number($('#txtIssueQty').val().trim()),
                        TypeOfProduction: $('#ddTypeOfProduction').val().trim(),
                        QCPass: Number($('#txtQCPass').val().trim()),
                        MobileRNDFaultDetailsViewModel: faultsItem
                    }
                    console.log(data);

                    $(this).val('Please wait...');

                    $.ajax({
                        url: '@Url.Action("FaultsDetailsAdd", "AddFaultsInfo")',
                        type: "POST",
                        data: JSON.stringify(data),
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (d) {
                            alert('Successfully done.');
                            window.location.href = '@Url.Action("Index", "AddFaultsInfo")';
                        },
                        error: function () {
                            alert('Error. Please try again.');
                        }
                    });
                }
            });

            //$('#ddlLot').on('change', function () {
            //    //alert($('#ddlLine').val().trim());

            //    if ($('#ddlLine').val().trim() == '' || $('#ddlModel').val().trim() == '') {
            //        alert("Please Select Line and Model First");
            //        $('#ddlLot').val("");
            //    }
            //    else {
            //        DropDownChangeData();
            //    }
            //});
            //$('#ddlModel').on('change', function () {
            //    if ($('#ddlLine').val().trim() == '') {
            //        alert("Please Select Line First!");
            //        $('#ddlModel').val("");
            //    }
            //    else if ($('#ddlLine').val().trim() != '' && $('#ddlLot').val().trim() == '')
            //    {

            //    }
            //    else {
            //        DropDownChangeData();
            //    }
            //});
            //$('#ddlLine').on('change', function () {
            //    //alert($('#ddlLine').val().trim());

            //    if ($('#ddlModel').val().trim() == '' || $('#ddlLot').val().trim() == '') {
            //        //alert("Please Select Line and Model First");
            //        //$('#ddlLot').val("");
            //        ////alert($('#txtDate').val().trim());
            //    }
            //    else {
            //        DropDownChangeData();
            //    }
            //});
            //$('#txtDate').on('change', function () {

            //    if ($('#ddlLine').val().trim() == '' || $('#ddlModel').val().trim() == '' || $('#ddlLot').val().trim() == '') {

            //    }
            //    else {
            //        DropDownChangeData();
            //    }
            //});

            $('#txtDate, #ddlLine, #ddlModel, #ddlLot, #ddShipment, #ddShift, #ddTypeOfProduction').on('change', function () {
                DropDownChangeData();
            });

            function DropDownChangeData() {
                var data = {
                        Date: $('#txtDate').val().trim(),
                        LineNo: $('#ddlLine').val().trim(),
                        PartsModelID: $('#ddlModel').val().trim(),
                        LotNo: $('#ddlLot').val().trim(),
                        Shipment: $('#ddShipment').val().trim(),
                        Shift: $('#ddShift').val().trim(),
                        TypeOfProduction: $('#ddTypeOfProduction').val().trim()
                    }
                    $.ajax({
                        data: data,
                        url: '@Url.Action("LoadFullSetData", "AddFaultsInfo")',
                        type: 'GET',
                        dataType: "JSON",
                        contentType: "application/json",
                        success: function (result) {
                            if (result != null) {
                                faultsItem = [];
                                //hidden Id for Update
                                $('#txtHiddenID').val(result.id);
                                
                                $('#txtIssueQty').val(result.totalIssueQty);
                                $('#txtQCPass').val(result.qcPass);
                                
                                //button text
                                $('#btnSubmit').text('Update');

                                console.log(result);

                                for (var h = 0; h < result.mobileRNDFaultDetailsViewModel.length; h++) {
                                    faultsItem.push({
                                        CategoryID: result.mobileRNDFaultDetailsViewModel[h].categoryID,
                                        CategoryName: result.mobileRNDFaultDetailsViewModel[h].categoryName,
                                        SubCategoryID: result.mobileRNDFaultDetailsViewModel[h].subCategoryID,
                                        SubCategoryName: result.mobileRNDFaultDetailsViewModel[h].subCategoryName,
                                        FaultType: result.mobileRNDFaultDetailsViewModel[h].faultTypeKey,
                                        FaultTypeName: result.mobileRNDFaultDetailsViewModel[h].faultType,
                                        FaultQty: result.mobileRNDFaultDetailsViewModel[h].faultQty,
                                    });
                                }
                                if (result.mobileRNDFaultDetailsViewModel.length != 0) {
                                    blinkMessage("start");
                                    GeneratedItemsTable();
                                    $('#submit').text('Update');
                                }
                                console.log(faultsItem);
                            }
                            else {
                                blinkMessage("end");
                                $('#txtHiddenID').val("00000000-0000-0000-0000-000000000000");
                                $('#txtIssueQty').val("");
                                $('#txtQCPass').val("");
                                faultsItem = [];
                                GeneratedItemsTable();
                                $('#btnSubmit').text('Submit');
                                $('#submit').text('Submit')
                            }
                        }
                    });
            }
            //function for show added items in table
            function GeneratedItemsTable() {
                if (faultsItem.length > 0) {
                    var $table = $('<table id="datatable-fixed-header" class="table table-sm table-striped table-bordered" style="width:100%"/>');
                    $table.append('<thead style = "background-color: #323232; color: white;"><tr><th>Category</th><th>Fault Type</th><th>Sub Category</th><th>Quantity</th><th></th></tr></thead>');
                    var $tbody = $('<tbody/>');
                    $.each(faultsItem, function (i, val) {
                        var $row = $('<tr/>');
                        $row.append($('<td/>').html(val.CategoryName));
                        $row.append($('<td/>').html(val.FaultTypeName));
                        $row.append($('<td/>').html(val.SubCategoryName));
                        $row.append($('<td/>').html(val.FaultQty));
                        var $remove = $('<a href="#"><i style="font-size: 17px; color:red;" class="fa fa-trash"></i></a>');
                        $remove.click(function (e) {
                            e.preventDefault();
                            faultsItem.splice(i, 1);
                            GeneratedItemsTable();
                        });
                        $row.append($('<td/>').html($remove));
                        $tbody.append($row);
                    });
                    console.log("current", faultsItem);
                    $table.append($tbody);
                    $('#faultsItem').html($table);
                }
                else {
                    $('#faultsItem').html('');
                }
            }

            function checkIfObjectExist(faultsItem, text, id) {
                console.log(faultsItem);
                if (faultsItem.length > 0) {
                    for (var i = 0; i < faultsItem.length; i++) {
                        if (faultsItem[i].SubCategoryName === text && faultsItem[i].SubCategoryID === id) {
                            return true;
                        }
                    }
                }
                else {
                    return false;
                }
            }
            function ConfirmDialog(message) {
                $('<div></div>').appendTo('body')
                    .html('<div><h6>' + message + '?</h6></div>')
                    .dialog({
                        modal: true,
                        title: 'Delete message',
                        zIndex: 10000,
                        autoOpen: true,
                        width: 'auto',
                        resizable: false,
                        buttons: {
                            Yes: function () {
                                // $(obj).removeAttr('onclick');
                                // $(obj).parents('.Parent').remove();

                                $('body').append('<h1>Confirm Dialog Result: <i>Yes</i></h1>');

                                $(this).dialog("close");
                            },
                            No: function () {
                                $('body').append('<h1>Confirm Dialog Result: <i>No</i></h1>');

                                $(this).dialog("close");
                            }
                        },
                        close: function (event, ui) {
                            $(this).remove();
                        }
                    });
            };
        });

        function RedirectToPage() {
            window.location.href = '@Url.Action("Index", "AddFaultsInfo")';
        }
        function blink_text() {
            $('.blink_me').fadeOut(1100);
            $('.blink_me').fadeIn(1000);
        }
        var refreshIntervalId;
        function blinkMessage(startBlink) {
            if (startBlink === "start") {
                refreshIntervalId = setInterval(blink_text, 1000);
            }
            else {
                clearInterval(refreshIntervalId);
                $('.blink_me').hide();
                $('.blink_me').fadeOut(500);
            }
        }
    </script>
}

<style>
    /*Adding some css for looks good*/
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }

    .addbutton {
        display: inline-block;
        padding: 0px 25px;
        font-size: 19px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        outline: none;
        color: #fff;
        background-color: #4CAF50;
        border: none;
        border-radius: 15px;
        margin: 15px;
    }

        .addbutton:hover {
            background-color: #3e8e41
        }

        .addbutton:active {
            background-color: #3e8e41;
            box-shadow: 0 5px #666;
            transform: translateY(4px);
        }
    /*css for table*/
    /*.container td {
        vertical-align: top;
    }

    .tablecontainer table {
        width: 100%;
        border-collapse: collapse;
        border-top: 1px solid #BFAEAE;
        border-right: 1px solid #BFAEAE;
    }

    .tablecontainer th {
        border-bottom: 2px solid #BFAEAE !important;
    }*/

    .tablecontainer th, .tablecontainer td {
        text-align: center;
    }

    /*.ui-widget {
        font-size: 12px !important;
    }*/
    .ui-autocomplete {
        max-height: 200px;
        max-width: 700px;
        overflow-y: auto;
        overflow-x: auto;
    }

    .ui-autocomplete {
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
        float: left;
        display: none;
        min-width: 160px;
        padding: 4px 0;
        margin: 0 0 10px 25px;
        list-style: none;
        background-color: #ffffff;
        border-color: #ccc;
        border-color: rgba(0, 0, 0, 0.2);
        border-style: solid;
        border-width: 1px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        -webkit-background-clip: padding-box;
        -moz-background-clip: padding;
        background-clip: padding-box;
        *border-right-width: 2px;
        *border-bottom-width: 2px;
    }

    .ui-menu-item > a.ui-corner-all {
        display: block;
        padding: 3px 15px;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        color: #555555;
        white-space: nowrap;
        text-decoration: none;
    }

    .ui-state-hover, .ui-state-active {
        color: #ffffff;
        text-decoration: none;
        background-color: #0088cc;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        background-image: none;
    }

    .bg-white {
        background: #fff !important;
        border: 1px solid #fff !important;
        color: #19416c;
    }

    .select2-container--default .select2-search--dropdown .select2-search__field {
        border: 1px solid #32a73e;
        border-radius: 6px;
    }
</style>